<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/browser@4.js"></script>
</head>
<body class="font-sans">
    <H1 class="text-center text-2xl text-red-500 p-5 ">WELCOME TO MY FIRST DJANGO APP.</H1>
    <div class="flex justify-center">
    <button class="p-3 border-2 rounded shadow-xl"><a href="{% url 'about' %}">About</a></button>
    </div>
</body>
</html>